{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-pills nav-stacked">
	    <li><a href="/nation">View My Nation <span class="sr-only">(current)</span></a></li>
	    <li class="active"><a href="#">Edit My Nation </a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-md-10 main">
		<div class="panel panel-default">
		    <div class="panel-heading">Nation of {{nation.nation_name}}</div>
		    <div class="panel-body">
			    <!-- Table -->
			    <form action="/edit_nation">
			    	<div class="form-group">
					    <label class="control-label">Government</label>
				      	<select name="government" class="form-control">
							<option value="Democracy">Democracy</option>
							<option value="Capitalism">Capitalism</option>
							<option value="Communism">Communism</option>
						</select>
					</div>    	
					<input class="btn btn-primary pull-right" type="submit" value="Update" />
			    </form>
			</div>
		</div>

	</div>
</div>

{% endblock %}