{% extends "base.html" %}

{% block content %}

<style>

html, body {
	padding-top: 0 !important; 
	height: 100% !important;
	width: 100% !important;
}

</style>

<header id="top" class="header">
	<div class="text-vertical-center">
    	<h1>Error</h1>
  		<h3>That is not your nation to rule.</h3>
		<br>
		{% if user.is_anonymous %}
		<a href="/login/" class="btn btn-primary btn-lg">Login</a> | <a href="/register" class="btn btn-primary btn-lg">
		Sign Up</a>
		{% else %}
		<a href="/nation/{{user.nation.id}}" class="btn btn-primary btn-lg">View My Nation</a>
		{% endif %}
	</div>
</header>

{% endblock %}
