{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-pills nav-stacked">
	    <li class="active"><a href="#">View My Nation <span class="sr-only">(current)</span></a></li>
	    <li><a href="#">Edit My Nation </a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-md-10 main">
		<div class="panel panel-default">
		    <div class="panel-heading">Nation of {{nation.nation_name}}</div>
		    <div class="panel-body">
		    	<p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>

		      <!-- Table -->
		    <table class="table">
		        <tbody>
		        	<tr>
		            	<td>Funds: </td>
		            	<td>£{{nation.funds}}</td>
		          	</tr>
		          	<tr>
		            	<td>Infrastructure: </td>
		            	<td>{{nation.infrastructure}}</td>
		          	</tr>
		          	<tr>
		            	<td>Technology: </td>
		            	<td>{{nation.technology}}</td>
		          	</tr>
		          	<tr>
		            	<td>Land: </td>
		            	<td>{{nation.land}} miles.</td>
		          	</tr>
		        </tbody>
			</table>
		</div>
	</div>
	</div>

{% endblock %}