{% extends "base.html" %}

{% block content %}
{% load humanize %}
	
<div class="container">		
	<div class="panel panel-default">
	    <div class="panel-heading">Nation of {{nation.nation_name}}</div>
	    <div class="panel-body">
		    <div class="alert alert-info" role="alert">Iron, Lumber and Uranium give discounts to infrastructure bills of 10%, 8% and 3% respectively</div>
	    	<table class="table table-bordered">
					<tr>
						<td>Current Infrastructure:</td>
						<td>{{nation.infrastructure}}</td>
						<td>Cost Per Level:</td>
						<td>£{{costs.per_infrastructure}}</td>
						<td>Infrastructure total:</td>
						<td>£{{costs.infrastructure}}</td>
					</tr> 
					<tr>
						<td>Current Technology: </td>
						<td>{{nation.technology}}</td>
						<td>Cost Per Level:</td>
						<td>£{{costs.per_technology}}</td>
						<td>Technology total:</td>
						<td>£{{costs.technology}}</td>
					</tr>
					<tr>
						<td>Current Land: </td>
						<td>{{nation.land}}</td>
						<td>Cost Per Level:</td>
						<td>£{{costs.per_land}}</td>
						<td>Land total:</td>
						<td>£{{costs.land}}</td>
					</tr>
					<tr>
						<td colspan="6">
						</td>
					</tr>
					<tr>
						<td>Current Funds:</td>
						<td>£{{nation.funds}}</td>
						<td>Bills total:</td>
						<td>£{{costs.total}}</td>
						<td>Funds after bills:</td>
						<td>£{{costs.new_funds}}</td>
					</tr>
					<tr>
						<td colspan="5">Bills Paid</td>
						<td>{{nation.paid_bills}}</td>
					</tr>
			</table>
	    	<form action="" role="form" method="post">
	    		{% csrf_token %}
	    		<div class="form-group">
	    			<div class="col-sm-8">
	    				<input type="number" value="{{costs.total}}" name="bills" hidden>
	    			</div>
	    		</div>
	    		{% if validate.payable %}
		    		<input type="submit" class="btn btn-primary btn-block" value="Pay Bills" />
		    	{% else %}
		    		<div class="alert alert-danger" role="alert">{{validate.error}}</div>
		    		<input type="submit" class="btn btn-primary btn-block" value="Pay Bills" disabled />
		    	{% endif %}
		    		
		    </form>
		</div>
	</div>
</div>


{% endblock %}